<%= javascript_include_tag "videoPlayer" %>
<%= javascript_include_tag "moviesController" %>
<%= stylesheet_link_tag "videoPlayer" %>

<div class ="row">
  <div class="span12">
    <div class="btn-toolbar pull-left">
      <div class="btn-group ">
        <button href="#addVideoModal" class="btn" data-toggle="modal">Add Video</button>
        <button href="#" id="deleteAll" class="btn" >Delete All</button>
      </div>
    </div>

    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <button  class="btn  dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="categorySelector" href="#">All</a></li>
          <li><a class="categorySelector" href="#">Dubstep</a></li>
          <li><a class="categorySelector" href="#">Classical</a></li>
          <li><a class="categorySelector" href="#">Rock</a></li>
          <li><a class="categorySelector" href="#">Other</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
 
<!-- Modal -->
<div id="addVideoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add video</h3>
  </div>
  <div class="modal-body">
    <form id="addMovieForm" class="form-horizontal">
      <input type="text" id="inputId" class="hide" >
      <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
          <input type="text" id="inputName" placeholder="Name" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputDescription">Description</label>
        <div class="controls">
          <textarea id="inputDescription" placeholder="Description" required></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputCategory">Category</label>
        <div class="controls">
          <select id="inputCategory">
                <option>Dubstep</option>
                <option>Classic</option>
                <option>Rock</option>
                <option>Other</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="author">Author</label>
        <div class="controls">
          <input type="text" id="author" placeholder="Author" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="videoUrl">Video URL</label>
        <div class="controls">
          <input type="text" id="videoUrl" placeholder="Video URL" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="thumbnailUrl">Thumbnail URL</label>
        <div class="controls">
          <input type="text" id="thumbnailUrl" placeholder="Thumbnail URL" required>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button type="submit"  id="addVideo" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div id="playVideoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close stopPlaying" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add video</h3>
  </div>
  <div class="modal-body">
    <div id="video_box">
    <video id="video" width="640" height="360" poster="assets/poster.jpg" autobuffer>
      <source src="http://zencoder-demo.s3.amazonaws.com/trailer_test.ogg" type="video/ogg"></source>
      <param name="src" value="http://zencoder-demo.s3.amazonaws.com/trailer_test.mp4" />
      <param name="showlogo" value="false" />
      <param name="autoplay" value="false" />
    </video>
    <div id="controls">
      <div id="play" class="play control">
        <span></span>
      </div>
      <div id="progress" class="control">
        <div id="progress_box">
          <span id="load_progress"><span id="play_progress"></span></span>
        </div>
        <div id="play_time">
          <span id="current_time_display">00:00</span> / <span id="duration_display">00:00</span>
        </div>
      </div>
      <div id="volume" class="control">
        <span>
          <ul id="volume_display">
            <li></li><li></li><li></li><li></li><li></li><li></li>
          </ul>
        </span>
      </div>
      <div id="full_screen" class="control">
        <span>
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td><div id="fs_top_left" class="fs-corner"></div></td>
              <td><div id="fs_top_right" class="fs-corner"></div></td>
            </tr>
            <tr>
              <td><div id="fs_bottom_left" class="fs-corner"></div></td>
              <td><div id="fs_bottom_right" class="fs-corner"></div></td>
            </tr>
          </table>
        </span>
      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn stopPlaying" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class ="row">
  <div class="span12">
    <div id="movies">
      <div class="span1 offset6">
        <%= image_tag "ajax-loader.gif" %>
      </div>
    </div>
  </div>
</div>